.box{
    height:567px;
    width: 567px;
    background-color: aquamarine;
    margin: auto;
    border-style:solid;
    border-width: 1px;
    border-color: black;
    margin-top: 80px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    cursor: pointer;
}
.inner_box{
    border: 0.001px solid black;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}


.data_box{
    border: 0.001px solid black;
    text-align: center;
    font-size: 40px;
    
}
/* .data_box div{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);

} */
